//Variáveis usadas no meu Sass
$mainColor: darken(#c24e4b, 0);
$corBranca: #fff;

$ponto-de-quebra: 980px;
//$ponto-de-quebra-celular:

$mq-mobile: "(max-width: 980px)";

$tamanho-da-fonte-padrao: 16px;